<p>
<h1>New Scan</h1>

<%= form_for :scan, url: scans_path do |f| %>
    <% if @scan.errors.any? %>
        <div id="error_explanation">
        <h2>
        <%= pluralize(@scan.errors.count, "error") %>
        prohibited this scan from being created:
        </h2>
        <ul>
        <% @scan.errors.full_messages.each do |msg| %>
            <li> <%= msg %> </li>
        <% end %>
        </ul>
        </div>
    <% end %>
    <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
    </p>
    <p>
    <%= f.label :target %>
    <%= f.text_field :target %>
    </p>
    <p>
    <%= f.submit "Start scan" %>
    </p>
<% end %>
<%= link_to 'Back', scans_path %>
